<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blog Post</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>

<body class="bg-black font-sans antialiased m-2">
    <!-- navbar -->
    <nav class="bg-black p-4 text-white flex justify-between items-center border-2 border-yellow-400 rounded">
        <div>
            <h1 class="text-3xl font-bold">AI Blog Generator⚡</h1>
        </div>
        <div>
            <a href="logout.html" class="hover:underline text-yellow-400 font-bold">LogOut</a>
        </div>
    </nav>
    <!-- main content container -->
    <div class="container mx-auto px-4 sm:px-0">
        <div class="max-w-3xl mx-auto p-6 rounded-lg">
            <!-- Blog post section -->
            <section>
                <h2 class="text-xl  font-semibold text-white">
                    All Blog Post
                </h2>
                <div class="m-4">
                    <div class="border p-4 rounded mb-4">
                        <div class=" text-white">
                            <h3>
                                Blog Post Title 1
                            </h3>
                            <p>This is content of blog post. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Est
                                doloribus a libero nobis ex quo maiores sequi enim laboriosam, voluptate perspiciatis
                                debitis culpa esse mollitia quod perferendis amet dicta vitae.</p>
                        </div>
                    </div>

                    <div class="border p-4 rounded">
                        <div class=" text-white">
                            <h3>
                                Blog Post Title 2
                            </h3>
                            <p>This is content of blog post. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Est
                                doloribus a libero nobis ex quo maiores sequi enim laboriosam, voluptate perspiciatis
                                debitis culpa esse mollitia quod perferendis amet dicta vitae.</p>
                        </div>
                    </div>
                    <!-- repeat -->
                </div>
            </section>
        </div>
    </div>
    <footer class="text-center p-4 text-white mt-6">
        Powered by &copy; Bishok
    </footer>
</body>
</body>

</html>