<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Details</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-black font-sans antialiased">
    <!-- navbar -->
    <nav class="bg-black p-4 text-white flex justify-between items-center border-2 border-yellow-400 rounded">
        <div>
            <h1 class="text-3xl font-bold">AI Blog Generator⚡</h1>
        </div>
        <div>
            <a href="logout.html" class="hover:underline text-yellow-400 font-bold">LogOut</a>
        </div>
    </nav>
    <!-- Main Content -->
    <div class="container mx-auto mt-10 px-4 sm:px-0">
        <div>
            <div>
                <section>
                    <h2 class="text-white text-2xl mb-4 font-semibold ml-4 mt-4">Blog Post Details</h2>
                    <div class="border border-wh p-4 rounded-lg text-white bg-gray">
                        <h3 class="text-xl font-semibold"><u>Blog Post Title</u></h3>
                        <p class="te"> This is the blog post detail. Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Totam
                            omnis, illum minus vitae necessitatibus veritatis. Nobis quidem molestias laboriosam eum
                            obcaecati molestiae doloremque inventore, velit ab eaque magnam error, suscipit recusandae
                            unde
                            assumenda atque repellendus harum hic. Culpa corrupti totam officia. Dolore minus, quia
                            ullam
                            molestiae ad magni eaque, totam, veniam possimus exercitationem eum vel sit qui suscipit
                            sunt
                            eveniet.</p>
                        <hr class="my-4">
                        <h4 class="text-lg font-semibold">YouTube Title</h4>
                        <p>Title of the acssociated youtube video</p>
                        <h4 class="text-lg font-semibold mt-4">YouTube Link</h4>
                        <a href="#
                        " class="text-blue-600 hover:underline">https://www.youtube.com</a>
                </section>
            </div>
        </div>
    </div>
    <footer class="text-center p-4 text-white mt-6">
        Powered by &copy; Bishok
    </footer>
</body>

</html>